.footer__links {
  list-style-type: none;
  display: flex;
  flex: row;
  margin: 0;
  padding: 0;

}

@media screen and (max-width: 320px) {
  .footer__links {

  display: grid;
   grid-template-rows: repeat(5, auto);
   grid-template-columns: repeat(1, 186px);
   gap: 32px;
   margin: 0 0 48px 0;
  }
}
