.cover__overlay {
  background: rgba(42, 44, 47, .3);
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  z-index: 1;

}

.cover__overlay:hover {
  background: rgba(42, 44, 47, .8);
}
